[Desktop Entry]
Type=Application
Name=calf
Comment=calf UI App
Exec=@EXECUTABLE@
Icon=com.enegalan.ui
Terminal=false
Categories=Development;Utility;
StartupNotify=true
